[2020-12-13 17:01] weechen commented on #478
There's an update to how to use procmon. Based on how the new style goes, your code should be:

[code]

You can refer to [this script](https://github.com/jtpereyda/boofuzz-ftp/blob/master/ftp.py) on how to use procmon.

[2020-12-15 15:05] ksk4242 opened #480 "Communications protocols"
Has anyone attempted using Boofuzz for communications protocols?  Specifically interested if you have tried 3G, 4G, etc....

[2020-12-16 07:55] zhaiqiming opened #481 "Can booFuzz produce test data based on protobuf?"

[2021-01-01 22:20] jtpereyda commented on #478
Thanks @mauriciogalindo & @weechen for the question and answer.
I think we still need an example like this in the docs.

[2021-01-01 22:35] jtpereyda commented on #480
@ksk4242 I've heard of people testing WiFi and Bluetooth, but those code snippets aren't public AFAIK. It would be really to neat to see someone working with 3G and 4G.

[2021-01-01 22:37] jtpereyda commented on #481
There's no bridge between the two built yet. Got any particular use cases in mind? I've tossed around the idea but it hasn't seemed like the best option yet for any use case I've worked with.

[2021-01-04 17:42] jtpereyda commented on #202
Implementation ideas:

1. Feed all log messages back to main fuzzer process
2. Make logging to console optional (e.g. a `-q` arg)

[2021-01-13 15:22] huornlmj opened #484 "Convert pcap's into session code chunks"
It would be beneficial if there was a way to convert a packet capture into a session code chunk automatically.

[2021-01-13 15:48] jtpereyda commented on #484
@huornlmj What do you mean by a "session code chunk"?

[2021-01-13 17:26] huornlmj commented on #484
If there was a way to pass a pcap file in and have something like this auto generated:

[code]

The above example is a very basic one used against the vulnserver.exe test program.  In this case it was very easy to generate the code chunk by hand as the command is a static 'LTER' command, followed by fuzzed material, then ending with a line return.  But it would take much longer to manually convert

[2021-01-13 17:29] jtpereyda commented on #484
I think there are tools out there that try to parse or fuzz PCAPs. No such feature in boofuzz right now though.

[2021-01-13 17:33] huornlmj commented on #484
Ok.  So just to confirm, the current best known method is to translate the network conversation into the code chunk manually?

[2021-01-13 17:34] jtpereyda commented on #484
Yes. That's what I would do in this kind of situation.

As an aside, the simple example you gave already has more information than would be automatically obtainable by parsing the PCAP. You've chosen a certain element to be a string and others to be static.

[2021-01-31 12:52] kuraraneko opened #487 "max_len invalid in s_string() ？"
Test script:
[code]

length of generated data should within 100, but i got 500000:
[code]

pkts in wireshark:
<img width="421" alt="截屏2021-01-31 下午8 49 03" src="https://user-images.githubusercontent.com/34018362/106384438-cf45bc00-6405-11eb-821d-74cce5280104.png">

Is this a bug?

[2021-01-31 15:12] SR4ven commented on #487
You are right, the current master branch seems to be missing the implementation for max_length of the string primitive.

Thanks for pointing this out @kuraraneko!

[2021-02-05 18:22] mistressofjellyfish opened #489 "[Discussion] WebUI Redesign"
So, let's talk about the WebUI for a bit, shall we?

Currently, we have a WebUI that... does the job. Kind of. We see failures, an overall completion percentage, a percentage of current step completion, and can open the log for any failure if we knew the test case number.

Implementation-wise, it's a super-simple js file which bombards boofuzz running flask API with requests. Nothing fancy, but it

[2021-02-05 18:30] jtpereyda commented on #489
I agree with your 3 main issues.

The node dependency is a tradeoff; I always figured we'd have to use a bunch of JS tech though if we modrenized the UI. I think the fuzzer should still function as a Python package apart from Node, with the web UI as an optional addon. Now, preferably we can also make it easy to install, maybe even working by default. Not sure how those details would pan out. Perh

[2021-02-05 18:43] mistressofjellyfish commented on #489
As far as I'm concerned, node is required for those that publish packages to pypi, or build the entirety of boofuzz themselves. Once built, node isn't needed at all. The build process spurts out a html page and some (albeit heavy) javascript files, that can be served by flask like it is done now. I'm more concerned about actually tracking dependencies and issues with them. The node stuff is notori

[2021-02-05 21:20] #487 closed

[2021-02-05 23:05] SR4ven opened #490 "Truncate test case data longer than primitives max_len argument"
In #488 we noticed that test case data should rather be truncated to the max size rather than entirely discarding the test case.

However simply truncating test case data can result in duplicate test cases as we sometimes repeat characters n times.
So we need to find a way to not yield duplicate test cases.

[2021-02-18 16:22] ajohnston9 opened #493 "s_sizer field to control multiple blocks simultaneously"
I'm trying to utilize a `s_size` field that will control the length of two fields simultaneously, but only appear once in the message. Right now, I can see that it only takes one block name.

If this fix is as simple as plugging in a for loop in the definition of `s_size`, I'm happy to submit a PR. That said, I imagine  it would likely introduce problems somewhere else in the framework, so I wante

[2021-02-18 22:15] SR4ven commented on #493
Being able to run a sizer over multiple blocks would indeed be a nice feature.

I'm not sure what problems we'll face implementing this. A simple for loop alone might not do it. I'm thinking of a case where `s_size` is part of one of the blocks it calculates the size of.

However, I guess the only way to find out what difficulties we'd face is to start implementing it. The unit tests should notify

[2021-02-21 20:55] SR4ven commented on #466
Fixed by #422

[2021-02-21 20:55] #466 closed

[2021-02-21 21:34] SR4ven commented on #307
Fixed by #422

[2021-02-21 21:34] #307 closed

[2021-02-22 21:00] SR4ven commented on #262
Should have been fixed by #268
If not it, I'm quite sure it will be fixed in #491

[2021-02-22 21:00] #262 closed

[2021-02-22 21:06] SR4ven commented on #489
While browsing through the open issues, I came across #284.
Maybe we can fix that in case we touch the backend.

[2021-02-22 21:20] SR4ven commented on #242
Fixed in #268

[2021-02-22 21:20] #242 closed

[2021-02-22 21:21] SR4ven commented on #212
Duplicate of #394

[2021-02-22 21:21] #212 closed

[2021-02-22 21:38] SR4ven commented on #164
Fixed in #486

[2021-02-22 21:38] #164 closed

[2021-02-22 21:41] SR4ven commented on #160
@jtpereyda can we consider this fixed by #422?

[2021-02-22 21:45] SR4ven commented on #157
Was implemented in #422 and #486

[2021-02-22 21:45] #157 closed

[2021-02-22 22:21] SR4ven commented on #114
Was implemented in a similar way in #422

[2021-02-22 22:21] #114 closed

[2021-02-22 22:29] SR4ven commented on #113
Duplicate of #394

[2021-02-22 22:29] #113 closed

[2021-02-22 22:29] SR4ven commented on #394
From https://github.com/jtpereyda/boofuzz/issues/113#issue-207288705:

[2021-02-22 22:34] SR4ven commented on #489
#66 also appears to be related

[2021-02-23 04:23] #160 closed

[2021-02-23 16:40] huornlmj opened #495 "Payload replay feature"
It would be useful if there was a built-in feature or tool that could replay a specific payload.  Currently the only method I know of is to manually take the payload out of the sqlite database and move it over to something like `nc`.  And curl and postman seem to damage the corpus and don't reliably send the payload without losing fidelity.

[2021-02-23 20:44] SR4ven commented on #495
You could use [Session.fuzz_single_case(index)](https://boofuzz.readthedocs.io/en/stable/source/Session.html#boofuzz.Session.fuzz_single_case) to send the data for one specific test case.
But that only works if the test case data doesn't involve any random or dynamic data generation.

[2021-02-24 21:21] jtpereyda commented on #495
Yes, the fuzz_single_case feature should work except for situations using random.

See #115 for an issue to get rid of the indeterminateness in boofuzz's usage of random.

[2021-02-27 19:24] #490 closed

[2021-03-09 11:05] juanrojascampos opened #498 "Boofuzz a websocket client"
I want to fuzz a websockets client so i have to make a server with boofuzz. The problem is that we can make TCP/UDP/SSL connection but i do not know how to make a websocket connection

[2021-03-09 19:53] SR4ven commented on #498
Websocket is an application layer protocol based on TCP just like HTTP right?
In that case you could configure boofuzz with a TCP server target connection just like you would with HTTP.

[2021-03-12 00:34] jtpereyda commented on #489
Re the tree topic -- I'm adding combinatorial functionality, which allows the number of test cases to go much higher much quicker. In this mode, recording every single test case becomes burdensome (my DB was at several gigs within an hour)... which makes navigating passed test cases less important.

Also, once you get to tuples of 2 cases, the tree view is a less intuitive way to navigate test cas

[2021-03-12 00:36] jtpereyda commented on #489
The combinatorial (and therefore unbounded) approach will also mean there's no end, so the progress bars will change.

[2021-03-20 18:23] jtpereyda commented on #394
I believe this is implemented now via the `fuzz_values` arguments

[2021-03-20 20:16] SR4ven commented on #394
Agree, was implemented in #422

[2021-03-20 20:21] SR4ven commented on #394
We don't have a unit test for `fuzz_values` atm right?
So we should rewrite https://github.com/jtpereyda/boofuzz/blob/71f69bf829f98114100d3c7815caa5e827980d1a/unit_tests/test_primitives.py#L148-L193

[2021-03-20 20:23] jtpereyda commented on #394
@SR4ven Correct, no UTs I believe.
[code]
Didn't realize we had this lying around!

[2021-03-26 14:11] tvistoman opened #500 "Is there any way to reuse previously fuzzed data?"
In my code
...
session.connect(first)
session.connect(first,second)
session.connect(second, third)
session.fuzz()
...

it the third test case i'm getting some fuzzed data, is there any way to store it in some variable and use later in the second test case like a 'Static' on the next fuzzing pass?

[2021-03-26 15:39] jtpereyda commented on #500
Do you want to reuse data that the fuzzer is generating, or data that's being received from the target?

[2021-03-26 15:49] tvistoman commented on #500
I want to use data generated by the fuzzer.

[2021-03-26 20:06] jtpereyda commented on #500
Well you could view the log via the web UI or via dumping the log to the console, in which case the sent values are printed. I guess it prints the entire message, so you'd need to grab the relevant excerpt. They are printed as Python bytes literals, so you can just grab the string and copy it into your code. Is that the sort of thing you have in mind?

[2021-04-04 21:02] prRZ5F4LXZ opened #502 "How to specific the result directory to something other than boofuzz-results?"
[code]

I see "boofuzz-results" is hard-code in the source code. Is there a way to specify where to save the file?

[2021-04-04 21:46] SR4ven commented on #502
Right now it seems to be fully hard coded.

I guess we could see this as a feature request? Shouldn't be too hard to implement an additional Session argument to specify the database file path.

[2021-04-09 00:33] jtpereyda commented on #502
Yep, I figure a `-o` option to specify the directory name. Right now "boofuzz-results" is a directory in which results directories are  created. I'm leaning toward following AFL's example and specifying the entire output directory names. E.g. `-o boofuzz-results/testRun1` etc.

[2021-04-09 08:35] jblu42 opened #503 "L3 Packet Checksum always fuzzed"
I am trying boofuzz for L3 fuzzing and wrote a little script for fuzzing ICMP, I use RawL3SocketConnection to build an correct IP packet and calculate the checksum for the IP and ICMP packet with s_checksum. I do not want to fuzz the checksum in some tests, but the checksum is always fuzzed, although I specified fuzzable=False.

s_checksum("ipheader", length=2, algorithm="ipv4", fuzzable=False)

D

[2021-04-09 08:50] jblu42 opened #504 "RawL3SocketConnection sends wrong data"
Since I had problems with the checksum always fuzzing, I tried to update to boofuzz 0.3.0 (before I was on 0.2.1) but now my RawL3SocketConnection sends the wrong data. This is the script I use (shortend to replicate the error, this is no full packet)

[code]

And this is a wireshark hex dump of the frame I get:

0000   ff ff ff ff ff ff 00 0c 29 5b 87 83 08 00 4e c3
0010   be 01 08 00 00 40 00 0b

[2021-04-10 14:49] SR4ven commented on #504
What happens here is that the string you pass to s_static gets encoded to bytes with the default encoding utf-8. That's why you're seeing different data in the hex dump.
Simply passing a bytes object to s_static should fix your problem.

[code]
I hope that helps

[2021-04-10 15:11] SR4ven commented on #503
Are you sure the checksum field is actually fuzzed or does the data the checksum is generated over change?
I just did some testing with the following code and the checksum always stayed the same.
[code]

If the problem persists, could you provide some sample code which I can try to reproduce the issue with please?

[2021-04-11 10:15] jblu42 commented on #504
Thanks, this is working again.

I just wondered, if some of the examples should have had the same problem, but there was actually a commit to fix that, should have seen this earlier

Again, Thanks for your help.

[2021-04-11 10:15] #504 closed

[2021-04-11 10:23] jblu42 commented on #503
No, i am pretty sure it was fuzzed, I looked at the packets in wireshark and the checksum was replaced by fuzzing values not expected changes for the checksum.

After solving the other issue with the wrong bytes sent, I tried it again with boofuzz 0.3.0 and the checksum is not fuzzed any more, using the same script. I could try to go back to the old boofuzz and see if the problem persists, but cur

[2021-04-11 10:23] #503 closed

[2021-04-11 11:08] SR4ven commented on #503
Thanks for reporting back @jblu42!
I'm glad to hear that the problem resolved itself in the latest release, no need to revert to an old version.

[2021-04-23 21:40] jtpereyda commented on #370
As mentioned in #505, looks like it will be harder to continue supporting Python 2.7 on Windows. But Windows with libdasm was the only use case for which we don't have Python 3 support so... I think we might as well drop support. Right?

If somebody wants to use libdasm with boofuzz they can go through the necessary footwork (using on old boofuzz version or making it Py3 compatible).

[2021-04-23 21:49] SR4ven commented on #370
Currently Windows Python 2.7 tests are failing because Microsoft doesn't provide vcpython27 downloads any longer. Hence the choco package is broken which will also be marked deprecated.
I don't see a way to work around this, so I suggest disabling the said test environment. (I'd also be happy removing the linux build too so we can get rid of python 2.7 entirely)

Additionally the docs build is fai

[2021-04-23 22:00] jtpereyda commented on #370
@SR4ven Yes, let's go ahead and drop it.

The only thing will be to make sure we have some kind of procmon on Windows. I think it may indeed require pydasm right now as the docs suggest. If so, we could take any option that gets us mostly working (e.g., modifying how the procmon works, or perhaps even using the simple debugger on Windows).

[2021-04-23 22:02] jtpereyda commented on #370
But let's try to do something quick rather than perfect-- I guess users won't be able to follow the instructions as written now, which is lame.

[2021-04-24 10:35] SR4ven commented on #370
Sounds good, I'll see if I can put something together today or tomorrow.

[2021-05-10 11:50] zhouzoe opened #510 "Raw L4 Connection To Send/Receive On Top Of IP Layer"
- I'm trying to generate OSPF packets with boofuzz, and I use SOCKT RawL3SocketConnection to send those packets, just as follows):
`sess = Session(
	target=Target(
		connection=RawL3SocketConnection("ens33", 5.0, 5.0, ethernet_proto=2048),
		monitors=[procmon],
	),
	console_gui = True,
)`

-- However I found that I must add the IP data with every OSPF packet. And I wonder if is there any other SOC

[2021-05-10 19:17] SR4ven commented on #510
Currently there is no boofuzz Connection class which builds the IP header for you.
So you'll have to use RawL3SocketConnection and write a protocol definition for the IP header yourself.

But I get your point, it would be convenient to have an IPSocketConnection class for L4 IP protocol communication.
I'll mark this as a feature request.

[2021-05-11 06:49] zhouzoe commented on #510
Thanks for reply. I intend to write IP header myself but there's another problem that when I use s_size() to calculate the total length of the entire packet , just as follows, it seems include all fields.

....
s_size("ospf_packet", name="ospf_pack_len", endian=">", length=2, math=lambda x:x+20)
....
if s_block_start("ospf_packet"):
	s_bit_field(2, name="version", width=8, endian=">", fuzzable=Tru

[2021-05-11 07:28] zhouzoe commented on #510
Hey, I misused s_size() and my problem has solved. Thanks a lot.

[2021-05-15 10:08] lucca-ruhland commented on #289
Hi, while using boofuzz I have run into the same problem and created an extension for float and integer values.
You can check it out here: https://github.com/lucca-ruhland/boofuzz-numbers.
Since I think hardly anybody will find my repository, would it be possible to contribute my code to boofuzz?
If any changes needs to be done, so that the new primitives (s_float and s_int) are more in line with

[2021-05-15 12:47] SR4ven commented on #289
Sure, every contribution is welcome! Feel free to open a pull request and we will review the code.

[2021-05-26 01:28] xristos8574 opened #519 "boofuzz issue with big s_bytes value"
I am using boofuzz in an application to fuzz specific functions. The block I create for my fuzzing vector is as shown below:
`with s_block("getPasswd"):
    s_byte(0, name="usID", fuzzable=False)
    s_bytes(value=bytes([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]), name="dataChoose", size=16, max_len=16, fuzzable=False) # THIS IS 16 BYTES
    s_

[2021-05-26 19:54] SR4ven commented on #519
From the stacktrace it looks like you are using the callback_monitor?

Here is what I think is happening:
By increasing the amount of data in hashOfPswd, your target closes the connection for some reason (could be indicating a crash).
The OS raises an exception which we catch and handle (and re-raise) in boofuzz.
Finally, the callback monitor of boofuzz calls your postCallback method with returnCo

[2021-05-31 19:13] lucca-ruhland opened #521 "Improve documentation - "Boofuzz by examples""
Hello everyone,
 I think that the boofuzz documentation is good, but somehow not very useful for beginners.
In my opinion, the quickstart section is too short, leaving new users without any guidance on how to use this framework.
 So I would suggest adding a whole section with detailed examples, covering at least the current (examples)[https://github.com/jtpereyda/boofuzz/tree/master/examples], but

[2021-05-31 20:51] #289 closed

[2021-05-31 21:04] SR4ven commented on #521
That would very helpful indeed. I remember having the same feeling when I first used boofuzz.

At the moment I don't have the time to write a detailed documentation, but any contribution is welcome.

[2021-05-31 21:27] SR4ven commented on #370
Python 2 support was dropped in #506

[2021-05-31 21:27] #370 closed

[2021-05-31 21:27] SR4ven commented on #447
Python 2 support was dropped in #506

[2021-05-31 21:27] #447 closed

[2021-06-02 10:33] Martyx00 opened #522 "s_bit_field smaller than 8 rounds to full byte"
I have noticed that using a block of:
[code]

Results in the rounding of bit fields to bytes so that when the payload is sent I can observe:
`Transmitted 22 bytes: 04 05 00 00 00 `

Is there a way how to use `s_bit_field` with size smaller than 8 to connect two 4-bit values into one byte?

Thanks!

[2021-06-02 13:01] shoeper commented on #522
https://github.com/jtpereyda/boofuzz/issues/88

[2021-06-05 07:35] ploppelop opened #523 "s_static not static / integer issues"
Values over 0x7f get exploded, here \x80 is sent as \xc2\x80 breaking protocol conformance
[code]

[2021-06-05 09:08] ploppelop commented on #523
traced it to https://github.com/jtpereyda/boofuzz/blob/29bab9d3ce054a211006d73bdacf1e8c412407ee/boofuzz/helpers.py#L444

[2021-06-05 09:30] #523 closed

[2021-06-05 13:07] SR4ven commented on #523
Thanks for sharing your findings @ploppelop!

The issue here is that the string gets encoded to bytes, hence the differences.
Bytes `b""` is transmitted untouched, that's why it works. I think we've had a similar issue/question before.
Maybe we should add a note to the documentation.

[2021-06-06 08:30] ploppelop commented on #523
sure, from using sulley back in the day i would expect s_static to be well, static :)

[2021-06-07 20:30] SR4ven commented on #522
Currently it's not possible to create primitives smaller than 8 bits. Thanks for reporting anyway.

Thanks for pointing out the duplicate @shoeper

[2021-06-07 20:30] #522 closed

[2021-06-07 20:37] #498 closed

[2021-06-07 20:38] #495 closed

[2021-06-07 20:39] #484 closed

[2021-06-07 20:53] SR4ven commented on #426
We no longer support debugging with pydbg, closing. Feel free to reopen.

[2021-06-07 20:53] #426 closed

[2021-06-07 21:11] SR4ven commented on #368
I think we've provided a few solutions for this problem. Thanks @cq674350529 and @kmendoza-bt
Don't hesitate to reopen.

[2021-06-07 21:11] #368 closed

[2021-06-07 21:24] SR4ven commented on #328
Combinatorial fuzzing was implemented in #499. Code coverage will come in #508

[2021-06-07 21:24] #328 closed

[2021-06-07 21:26] SR4ven commented on #187
Implemented in #499

[2021-06-07 21:26] #187 closed

[2021-06-08 10:40] shoeper opened #524 "TypeError: 'int' object is not subscriptable"
On case 11868501 boofuzz crashed with `TypeError: 'int' object is not subscriptable`. Maybe someone has an idea.

[code]

Previously, I also had crashes when there was a connection reset on opening the connection. I worked around those by introducing a retry mechanism. I could submit a PR if you think it would be helpful.

[2021-06-09 11:55] lovebair2022 opened #525 "how can I send 3bits?"
I use
'''s_bit_field(name="test",width=3)'''
But the packet show that the width is 8 rather than 3

[2021-06-09 14:24] jtpereyda commented on #525
Not possible at the moment. See #88 for some past discussion.

[2021-06-09 14:24] #525 closed

[2021-06-18 15:57] SR4ven commented on #524
Sorry for the delayed answer @shoeper. Thanks for reporting.

At first sight, I have to idea what's going wrong at the type error but I'll take a closer look at it. At that point in the code we only add some integers but apparently there is an edge case where one variable gets a different type.

What crashed did you get when a connection reset occurred during the connection opening? There might be

[2021-06-21 18:16] jtpereyda commented on #524
@shoeper Are you able to share your script and any command line arguments you were using? That could make it easier to reproduce.

I can't tell much from the trace you attached, though the error looks familiar. If I recall anything I'll add it here.

[2021-06-22 09:20] fanjingwei opened #527 "ProcessMonitor can't start http server"
I want to fuzz a web service with "ProcessMonitor".The OS is win10. The boofuzz run on python 3.8.3.The web server run on python 2.7.18.The fuzz code is like this in FuzzWithMon.py:
`
#!coding:utf8
from boofuzz import *

s_initialize(name="Request")
with s_block("Request-Line"):
    # LINE 1
    s_static("POST /BaseInfo HTTP/1.1\r\n", name="line1")

    # LINE 2
    s_static("Host: 127.0.0.1:8000\

[2021-06-29 20:26] SR4ven commented on #527
Strange. Does starting calc.exe work? Which boofuzz version/commit are you using?

[2021-06-30 01:59] fanjingwei commented on #527
No，just print "[09:57.47] updating start commands to: [['calc.exe']]" TmT

[2021-06-30 15:51] drewrad8 commented on #503
@jblu42 Would you mind posting the ICMP script somewhere? I would really appreciate it.

[2021-06-30 20:12] SR4ven commented on #527
Ok I was able to reproduce that problem on Windows; Linux works fine.

I currently don't have any debugger on Windows but I'll look into it when I find some time.

Thanks for reporting @fanjingwei!

[2021-07-01 03:10] fanjingwei commented on #527
thx

[2021-07-08 12:35] boondoggler opened #529 "Boofuzz never quits on 0.4.0"
Hi,

I have a perfectly functioning 0.2.0 python script which ends with:

.
.
.
session.fuzz()
print("Fuzzing Finished")

With 0.2.0, the fuzzer finishes and the script prints the Finished message and terminates correctly.

With 0.4.0, the fuzzing "appears" to finish (i.e. the webserver stops logging new payload mutations, as does the boofuzz web interface), but the Boofuzz never actually terminat

[2021-07-08 12:59] boondoggler commented on #529
The answer is yes. It seems I have another instance connected to the session which looks to have been hogging the connection

[2021-07-08 13:27] boondoggler commented on #529
Im gonna re-open this again. I've rebooted the box and Im having the same issue from cold start.

[2021-07-08 14:50] boondoggler commented on #529
So, further digging. If i have 1 primitive in a block it will close straight after fuzzing has ended. In my python script:
.
.
.
header
.
.
if s_block_start("post blob"):
    s_byte(0x41, name = 'blah1', signed=False, full_range=True, fuzzable=True)
    s_byte(0x42, name = 'blah2', signed=False, full_range=True, fuzzable=True) <--- comment out and closes almost immediatly
s_block_end()

So, it loo

[2021-07-08 16:25] SR4ven commented on #529
Thanks for the detailed report @boondoggler.
Could you please provide the last few lines from the console log as well as a script with which we can try to reproduce your findings?

The webinterface only updates once a test case has finished, so we can't see where exactly boofuzz gets stuck from the output of the webinterface.

The easiest way to find out where the delay comes from would be to use

[2021-07-09 08:28] boondoggler commented on #529
Hi, Thanks for your pointers. Will look into debug option. See attached console output. Yes keep_web_open is False

So as you can see, it does eventually finish. This was captured using the Python script text file attached (possibly I should add a time stamp to the final "Finished" Baner to show how long it can take...)

[boofuzz.txt](https://github.com/jtpereyda/boofuzz/files/6789943/boofuzz.txt)

[2021-07-09 11:06] boondoggler opened #530 "Allow log file splitting to a maximum size (.csv)"
Forgive me if I have missed this in the help. Specifically for .csv (could be ported to text)

Large 1GB+ .csv files can be cumbersome to open using the usual suspects (I'm using a pretty capable 32GB RAM/3Ghz+ CPU desktop to view).

Can a maximum log file size be set? I realise then you end up with numerous .csv log files - but it makes viewing easier.

[2021-07-09 15:38] boondoggler commented on #529
A quick look in a debugger, the code seems to be going around and around in these areas:

block.py (mutations) 68-69
fuzzable.py (get_mutations) 136-146
sessions.py (_generate_n_mutations_for_path) 1461-2

Unsuprising really as the Request: section is still active after fuzzing has stopped. Sorry wont have anytime now until next week to look at this now.

[2021-07-09 19:49] SR4ven commented on #530
Good point, splitting log files is currently not implemented but would indeed be quite handy.

[2021-07-17 00:51] tanmayv25 commented on #529
We are also seeing a hang-up in our fuzz test when moving from boofuzz 0.3.0 to 0.4.0.
See [here](https://github.com/triton-inference-server/server/blob/main/qa/L0_http_fuzz/fuzztest.py).

[2021-07-17 21:16] SR4ven commented on #529
Thanks for looking into this @boondoggler.
From the information you provided, it seems like boofuzz is generating lots of duplicate mutations. Because `_mutations_contain_duplicate` spots those duplicates, they are never sent to the target but that whole process seems to take a lot of time.
I'll see if we can optimize that part or at least generate less duplicates.

[2021-07-19 01:23] Akim10150 opened #532 "Error in Process Monitor and Fuzzing never starts"
Hi everyone!
When I try to run the boofuzz with the process monitor and vulnserver, I get errors in the process monitor and the fuzzing never starts.

Here is a screenshot of the process_monitor.py error:

![image](https://user-images.githubusercontent.com/53229678/126089359-f48de077-97bc-43ba-b06c-58ee6726cacf.png)

Here is the Python Script I'm trying to use
-------------------------------------

[2021-07-19 07:48] entroy0421 opened #533 "Is it possible to fuzz RIP with boofuzz?"
Well ... since RIP protocol uses UDP packets to communicate. I'm not sure that boofuzz is able to detect "crack".

[code]

I'm pretty sure I send a correct packet using the code above.
Is it possible to fuzz RIP with boofuzz?
It's a tough time ;´༎ຶД༎ຶ`

[2021-07-21 21:54] SR4ven commented on #532
Thanks for the report @Akim10150!

I have just tested some very similar case on Linux where it works fine.
That exception from your screenshot might be a bug in the procmon related to Windows. I'll take a look at that once I get a debugger on Windows running.

About the `proc_name` option for procmon, that is only needed if your start command will spawn another process and exits if I remember corr

[2021-07-22 02:04] Akim10150 commented on #532
Thank you for you response @SR4ven :)

Removing proc_name fixed the problem with not starting the fuzzing, but now the process monitor is saying every fuzzing attempt is a crash. I don't think the 8 byte input in one of the screenshots should be a crash.

![image](https://user-images.githubusercontent.com/53229678/126581012-b8fbfb10-169e-482f-9f01-6640de2cc5e6.png)
![image](https://user-images.git

[2021-08-06 03:25] tr4v3ler opened #535 "How can I implement this callback function to resend node A when the callback function fails to receive a response?"
`sess.connect(s_get("A"), s_get("B"), callback=check_response)`
Before fuzzing node B, I want to make sure that I receive a response of node A. If check_response failed to receive a response, I want to continue sending node A until I receive a response. How can I implement this callback function？

[2021-08-11 03:44] tr4v3ler opened #536 "I want to start with the 0th testcase When I restart fuzzing."
I found that every time I restart fuzzing, it will continue to execute the previous round of fuzzing. What can I do to make the execution start from the 0th testcase instead of the previous round of fuzzing when restarting fuzzing？

[2021-08-12 01:15] cq674350529 commented on #536
There is a `session_filename` option in `Session()`, which is used for that purpose. I'm not sure if you enable that. If yes, then just delete the corresponding session file.

[2021-08-12 02:05] tr4v3ler commented on #536
Thank you. It really works!

[2021-08-12 03:23] #536 closed

[2021-08-12 07:42] Gokulllll opened #537 "Is it possible to fuzz automotive ethernet protocol (AVB,DoIP,SoME/IP) in boofuzz?"

[2021-08-13 09:32] tr4v3ler opened #538 "How to access the primitives of a static node?"
Here is an example:
[code]
I know that I can access the fuzz_data in the callback function in the following way:
`session.fuzz_node.names["second.b.fuzz_data"]`
But I don't know how to access static_data in callback functions.

[2021-08-13 18:32] SR4ven commented on #537
Sure, should be possible if you have an ethernet device like eth0 in Linux that you can use to send packets to your targets.
In boofuzz you could use RawL2SocketConnection or RawL3SocketConnection to send ethernet or IP frames and write the protocol definitions for your desired protocols yourself.

[2021-08-13 18:47] SR4ven commented on #533
Sorry for the delayed answer.
What exactly is the problem you're facing? Your scripts looks fine on first sight.
Did you use Wireshark to verify your packets are valid?

[2021-08-13 20:21] SR4ven commented on #538
You should be able to access static_data in the same way as fuzz_data. What exactly are you trying to access/write?
If you're trying to modify its value you could try to write to `session.fuzz_node.names["second.b.static_data"]._default_value`.

I hope that helps.

[2021-08-14 06:22] tr4v3ler commented on #538
I found that all types of nodes can be accessed in the following ways:
`session.nodes[index].names["first.a.static_data"]`

[2021-08-14 06:36] tr4v3ler commented on #535
Sometimes the target may not respond to request A, but request B will still be sent. Since the target has a state machine and will not process request B, this test case is wasted. In this case, how to ensure that the current test case can continue to be used in the next round? I noticed that there are several related variables in the callback, but I don't know which one to modify.
[code]

[2021-08-16 05:00] Gokulllll commented on #537
Thanks for your response @SR4ven

[2021-08-16 19:45] #537 closed

[2021-08-17 07:37] tr4v3ler opened #539 "After post_test_case_callbacks returns false, restart_callbacks is not called."
In my session:
[code]
Implementation of check_alive:
[code]
The following contents are mentioned in the boofuzz document:

However, after check_alive returns false, reset_target is not called.

[2021-08-19 01:23] ssandme opened #540 "http request body is always truncated"
I wrote a http post request script. There are more than 8,000 use cases after mutation, but every time the request body is sent out, it is not complete. I don’t know why. When I try to modify the request header After the length of one of the field values, the request content is sent out completely, but the actual length of the request header is so long, is there any way I can send the complete req

[2021-08-19 01:26] ssandme commented on #540
The incomplete request is as follows
'PUT /dte-crm-epms-portal/phase/2/733dd11e-0b5a-462f-9a10-f29315a97db6 HTTP/1.1\r\nHost: epmsfz.dte.com.cn\r\nX-Account-Id: 10232465\r\nX-Emp-No: 10232465\r\nInternal: 1\r\nX-Auth-Value::wqlXb4FYWrDTWh08E_TFO3T4MfRQhal5BIs39-PsM3O.9RjNwUzMzkjM2EjOiAHelJCLiEGMlBDZ3gjYkFmZlRzM5MmNxcjMyUjZjRTN5ATN2MTZiojI1Jye.9JiN1IzUIJiOicGbhJCLiQ1VKJiOiAXe0Jye\r\nX-Proj-Id: 733d

[2021-08-19 12:02] ssandme commented on #540
Another problem was found, the script restarted after running to 100%

[2021-08-20 03:07] #540 closed

[2021-08-24 03:54] entroy0421 commented on #533
Well ... the main problem I face is how to detect the rip server whether it is crash or not. However it is impossible detect it with boofuzz since rip server is UDP protocol.
In fact, me and my partner had solved the problem few weeks ago. We send a normal rip request to check, using scapy, because rip server will response it. The code is as follow:
[code]

[2021-09-01 14:09] zhaozilong-design opened #542 "is it possible to fuzz DHCP with boofuzz？"

[2021-09-06 08:43] User-debbie opened #543 "Question:How do I fuzz HTTP POST body? which is in the format of json?"
Sorry, this is the first time that I use any fuzz software, I'd like to ask how to fuzz a HTTP request body? My POST request is as follows, it was copied from Postman :

POST /appstore/market/apps/v1/forms HTTP/1.1
Host: zian.test.com:443
Authorization:xxxx
Content-Type: application/json
Content-Length: 73
{
  "formTitle": "fromBooFuffzz",
  "formDescription": "fromBooFuzz"
}

and I would like to

[2021-09-06 12:01] cq674350529 commented on #543
To fuzz the POST body, it should be defined the same as the HTTP Header. Take `{"fromTitle": "fromBooFuffzz"}` as an example, it can be defined as follows:

[code]

That's it.

For other things, you can refer to the example https://github.com/jtpereyda/boofuzz/blob/master/examples/http_with_body.py in the repository.

[2021-09-06 12:04] User-debbie commented on #543
Thank you very much，I'll try it right now!

------------------ Original ------------------
From: CQ ***@***.***&gt;
Date: Mon,Sep 6,2021 8:02 PM
To: jtpereyda/boofuzz ***@***.***&gt;
Cc: User-debbie ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [jtpereyda/boofuzz] Question:How do I fuzz HTTP POST body? which is in the format of json? (#543)

To fuzz the POST body, it should be defined the s

[2021-09-06 12:34] User-debbie commented on #543
Thank you, now I can successfully fuzz POST Body! And I would like to raise a small question, how can boofuzz get the HTTP  response status code and monitor it? For example , deeming it as crush when the status code of the response is 400, thank you! I tried to read the docs but I haven't finish them yet ╮(︶﹏︶")╭

[2021-09-06 12:48] cq674350529 commented on #543
If you can receive the response from the server, you can check the status code manually for that purpose. One way to achieve that may be to add the above logic in the edge callback. In addition, the `pre/post_callback` mechanism may be able to achieve it as well.

PS: I achieved the similar purpose against a much old version of boofuzz by mofdifing the `session.py` 4 years ago, and didn't try the

[2021-09-06 12:52] User-debbie commented on #543
谢谢大佬🤣我继续研究一下
大佬能不能加个微信或者qq呀，刚开始学想多请教一下😎我的微信是13750101970，qq申请已经给大佬发过去啦_(:3」∠)_

------------------ Original ------------------
From: CQ ***@***.***&gt;
Date: Mon,Sep 6,2021 8:48 PM
To: jtpereyda/boofuzz ***@***.***&gt;
Cc: User-debbie ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [jtpereyda/boofuzz] Question:How do I fuzz HTTP POST body? which is in the format of json? (#543)

If you can rec

[2021-09-06 21:15] SR4ven commented on #542
Sure, as DHCP is UDP based you could take the [TFTP example](https://github.com/jtpereyda/boofuzz/blob/master/examples/tftp_simple.py) as a template.

[2021-09-15 14:33] AdeeshUnnikrishnan opened #545 "connection refused, boofuzz.exception.BoofuzzRpcError: unable to connect to server"
Hi,
i have been trying to fuzz the vulnserver for fuzzing ...am getting this below error

boofuzz.exception.BoofuzzRpcError: PED-RPC> unable to connect to server 192.168.3.9:26002. Error message: "[WinError 10061] No connection could be made because the target machine actively refused it"

machine - windows 10
I even checked using netstat -anop tcp, yet still no open port 26002

below is the code

[2021-09-19 12:24] SR4ven commented on #545
Did you start `process_monitor.py` on 192.168.3.9? If 192.168.3.9 is your localhost maybe try 127.0.0.1 as the target_ip instead.
If you're running the process monitor on a remote machine check if you have any firewall rules blocking that traffic.

[2021-09-24 03:18] Sunxingzhezhexingsun commented on #315
Is this link still available? I can't access it.

[2021-09-24 05:20] Marshall-Hallenbeck commented on #315
@Sunxingzhezhexingsun

http://web.archive.org/web/20210128050740/https://zeroaptitude.com/zerodetail/fuzzing-with-boofuzz/

[2021-09-26 07:59] keet3r opened #547 "How could I specify data must be included"
I want the result of mutation data must include some specify character wherever it is.
e.g.  I want generated a mutation data block length 65535 and include ":/".I have try like s_bytes(b":/",fuzzable=True,max_len=65535),but it's useless,only a few result include ":/".
How could I set a rule to get it?

[2021-09-26 08:11] cq674350529 commented on #547
If there is no limitation on the position of ':/', maybe you can do it like this:

[code]

[2021-09-26 08:33] keet3r commented on #547
Won’t this cause the length of this block to exceed 65535?
I want to limit it in this range,but if I do like this:
`s_bytes('a', fuzzable=True, max_len=x)
s_static(':/')
s_bytes('b', fuzzable=True, max_len=y)#x+y=65533`
The generated data may not fully meet the needs

[2021-09-26 09:00] cq674350529 commented on #547
If I understood it correctly (maybe it has evoloved?), the boofuzz will only mutate one primitive at the same time. That is, the first s_bytes('a') and second s_bytes('b') won't be mutated simultaneously. Maybe you can do a simple test.

Except the length, what else violate the needs?

[2021-09-26 09:11] keet3r commented on #547
Sorry,it's my fault. I copied it from your code and don't check it carefully.
What I want is a block must include string ":/" and length no more than 65535.
In below code:
`
s_bytes('', fuzzable=True, max_len=10000)
s_static(':/')
s_bytes('', fuzzable=True, max_len=55533)
`
It wouldn't generated data like `"A"*65533+":/"` even through it's length conform to limit

[2021-09-26 09:24] Sunxingzhezhexingsun opened #548 "How do I get the current test case?"
I've implemented a monitor that inherits from BaseMonitor, and then when a crash is detected, I want to save the test cases that triggered the crash, how do I get the current test cases? I didn't find the answer in the logger documentation.

[2021-09-26 09:53] cq674350529 commented on #547
I did s simple test, and a few things need to update. (hope not misunderstood you)

[code]
The length in the proposed method may broke the length limitation. Here is a snapshot of my simple test. If there are two mutated primitive, when mutated the second primitive, the value of the first one will iterate through the fuzz_library, thus maybe break the limitation.

![test](https://user-images.githu

[2021-09-26 10:19] cq674350529 commented on #548
In your monitor can you access the `session` instance? If yes, you can only record `session.mutant_index`, which can be used to replay the test case later.  Maybe you can have a try?

https://github.com/jtpereyda/boofuzz/blob/373a5cb071f68b5076b098472db31de841c87389/boofuzz/sessions.py#L1298-L1319

[2021-09-27 01:31] Sunxingzhezhexingsun commented on #548
@cq674350529 Thank you for your reply! Is the session.mutant_index variable the sequence number of the current test case? Which method should I pass this variable to get the contents of the test case?

[2021-09-27 01:48] cq674350529 commented on #548
Previously I guess you'd like to get the contents of the test case that triggered the crash to replay later. If yes, you can only save the `session.mutant_index`. As the `fuzz_single_case()` denotes (now it's deprecated), when the fuzzing process is over, you can set the `index_start` and `index_end` paramter of `Session()` to generate a single case you want.

If you really want to log the test ca

[2021-09-28 03:08] Sunxingzhezhexingsun commented on #548
@cq674350529 Yes, `session.test_case_data(session.mutant_index)` is exactly what I was looking for, thank you very much!!!

[2021-09-28 03:08] #548 closed

[2021-09-28 03:41] Sunxingzhezhexingsun commented on #548
@cq674350529
When my monitor detects crash, it runs the following code:
[code]
II do get the index of the current testCase, but passing it into session.test_case_data() returns None...

[code]

[2021-09-28 05:47] Sunxingzhezhexingsun commented on #548
@cq674350529
my monitor:
[code]
my session:
[code]
As the code shown, I print `session.test_case_data(session.mutant_index)` after each test case , and always return None
[code]

[2021-09-28 06:29] cq674350529 commented on #548
Indeed, the `session.test_case_data(session.mutant_index)` returned `None` always. I guess it's because the `post_send()` is called before when putting the current test case info db. So when calling `session.test_case_data()` with current mutant index, there is no corresponding data in db.

Since you will check if target is crashed when each test case is sent, there is another way to get the curre

[2021-09-28 06:42] Sunxingzhezhexingsun commented on #548
@cq674350529
`session.last_send`  works!
But I have no documentation on these important class member variables, and it would be nice if the documentation were more complete

[2021-09-28 06:48] cq674350529 commented on #548
Read the source code, and drop an ipython env, then you can access all the underlying attributes. If any doubts, always debug it in an ipython env, as I learnt the framework in this way.

[2021-09-30 06:34] #547 closed

[2021-10-26 00:37] 678098 opened #549 "Feature request: allow boofuzz to fuzz intermediate messages"
Here is the code which sends messages prior to fuzzed message:
https://github.com/jtpereyda/boofuzz/blob/373a5cb071f68b5076b098472db31de841c87389/boofuzz/sessions.py#L1731

So boofuzz allows only fuzzing of the last message in chain.

For a graph like: [message1]->[message2]->[message3]
Fuzzing will look like this:
[message1 < fuzzing]
[message1]->[message2 < fuzzing]
[message1]->[message2]->[mess

[2021-10-26 00:53] 678098 opened #550 "Docs: FuzzableBlock inheritance vs initialize children for Block"
Here guide says that for making your own primitive you should inherit from Fuzzable or FuzzableBlock:
https://github.com/jtpereyda/boofuzz/blob/373a5cb071f68b5076b098472db31de841c87389/docs/user/protocol-definition.rst#making-your-own-blockprimitive

Howewer, Request initialize children only for a Block primitive (which is inherited from FuzzableBlock).
https://github.com/jtpereyda/boofuzz/blob/37

[2021-11-04 14:18] solimand commented on #367
Hi there, I would reopen this issue if it is possible and reasonable.

I am trying to use a callback to read a value from a node and pass it to the next node (as @dorpvom suggested)

The message that I want to modify:
[code]
So I want to overwrite the primitive ```Close.c-body.secure channel id```

The callback signature is ```def my_callback(target, fuzz_data_logger, session, node, *_, **__)```

[2021-11-05 01:39] cq674350529 commented on #367
I used to do the same thing in an ooolder version of `boofuzz` like `node.names['Close.c-body.secure channel id']._value = myVal`.  And after setting the value, it's necessary to call `node.render()` to make it work.

Maybe you can have a try. I'm not sure if it changes in the latest version.

[2021-11-05 08:57] solimand commented on #367
Thanks for the answer @cq674350529. I tried the ```render()``` method, but from the [docs](https://boofuzz.readthedocs.io/en/stable/_modules/boofuzz/fuzzable.html?highlight=render()), it seems to be a method of Fuzzable, and the type of the ```node``` is ```boofuzz.blocks.request.Request```.
I tried:
```node.names['Close.c-body.secure channel id']._value = myVal```
OR
```node.names['Close.c-body.s

[2021-11-06 07:23] cq674350529 commented on #367
@solimand I had a look at the `boofuzz` code of latest version. Some apis have been changed. I though the method you provide (changing the _default_value) can achieve your goal (I did a simple test).

I may not understand what's your point.

[2021-11-08 16:05] Tresvian opened #552 "TypeError: can't concat int to bytes when mutating with layer 2 structure"
I'm attempting to make a layer 2 fuzzer for a broadcast protocol, and am running into an issue with "can't concat int to bytes" on spinning up the prototype script.
[code]
Sorry I can't give the actual structure, but it's a combination of about 6 Byte, 6 DWord, 4 Block, and a single Repeat.
It's being run with this simple setup:
[code]

[2021-11-08 20:26] Tresvian commented on #552
Found out the issue - I was using an int instead of bytes.
`boofuzz.Bytes("MySpecialBlock", size=3, default_value=0x0000CC, fuzzable=False)`
Is accepted but breaks.

`boofuzz.Bytes("MySpecialBlock", size=3, default_value=b'\x00\x00\xCC', fuzzable=False)`
No issues.

Maybe a type assertion would be preferable?

[2021-11-09 11:01] solimand commented on #367
@cq674350529 the only doubt is: could the overwriting of the ```_default_value``` (instead of the ```_value```) lead to unwanted situations? In my case, I want always the overwriting of these fields, so my solution is ok, but for other protocols, someone could want the original default value set in the message definition, during the fuzzing of the other fields. So I don't know if mine could be a g

[2021-11-09 21:39] SR4ven commented on #552
Thanks for sharing your problem + solution @Tresvian!

A type assertion would indeed be helpful here, we also have them for other primitives if I remember correctly.
Feel free to open a PR!

[2021-11-15 16:13] sirasjad opened #555 "Question: Specify source UDP port"
Hi, I'm trying to fuzz a target over UDP and I'm not sure how to define the source port. The fuzzed network packets must be sent from a specific source port, otherwise the target will ignore these packets.

The target IP is 192.168.1.50 (port 1337) and the source (sender) port must be 1234. I have tried binding ("0.0.0.0", 1234) and ("127.0.0.1", 1234) but it doesn't seem to work.

[code]

How can

[2021-11-15 21:14] SR4ven commented on #555
Hmm I'm no expert at UDP but that's how I'd give it a try. They say the same [here](https://stackoverflow.com/questions/2694212/python-set-source-port-number-with-sockets).
Looking at our code, that's exactly what should happen when executing your example.

You could try `UDPSocketConnection("192.168.1.50", 1337, bind=("", 1234)`, maybe that works.

Another option would be to assemble your own UDP

[2021-11-19 19:21] 678098 opened #557 "Bug: fuzzing session prevents application from exiting with `exit()` or `sys.exit()`"
Fuzzing main loop handles all exceptions, but for `SystemExit` exception (that is being generated when `exit()` or `sys.exit()` is called) it just doesn't stop. So it's impossible to exit fuzzing application from another thread with `exit()` or `sys.exit()`.

Workaround: brutally exit with `os._exit()` (it just doesn't raise `SystemExit` exception).

[2021-11-22 09:09] #543 closed

[2021-11-22 09:26] User-debbie commented on #477
@llabadie I am facing the same situation. Thanks for your guidance.  But when I tried it I've encountered a problem.
`[2021-11-22 17:20:24,424]     Error!!!! A custom pre_send callback function raised an uncought error.
                              Traceback (most recent call last):
                                File "C:\Users\l00610226\AppData\Local\Programs\Python\Python37\lib\site-packages\b

[2021-11-22 09:33] cq674350529 commented on #477
@User-debbie Maybe you can refer to this: https://github.com/jtpereyda/boofuzz/issues/367 . Since the boofuzz has evolved, some methods/fields(e.g. `_value` field) have been changed.

[2021-11-22 09:54] User-debbie commented on #477
@cq674350529 Thanks~I'll read them first then try it

[2021-11-23 08:05] User-debbie commented on #477
@cq674350529 Thanks~I have solved the problem by populating field `_default value`, the whole sentence is `session.fuzz_node.names['Request.Authorization.authorization_code']._default_value = auth_token`, then variable `auth_token` is given to this node in `pre_send_callbacks`. Now I'm trying to figure out how to use variable mutation strategies, as I've noticed that primitive `s_string` would fil

[2021-11-23 08:20] User-debbie commented on #477
or maybe it is already REAL RANDOM when I use primitive `s_string`?I am fuzzing my API successfully for the first time, and I don't know how many test case it will generate, the console says: **Total: xxxx of many**
![image](https://user-images.githubusercontent.com/37677388/142990273-2621f49c-58a3-4c45-8036-ec0faf6b36f0.png)

 @cq674350529

[2021-11-23 12:27] cq674350529 commented on #477
If the type of `variable` to mutate is `string`, then use `s_string()` is ok. `s_string()` has some inbuilt strategy, and the generated mutate data is based on `_fuzz_library`, `long_string_seeds`, and length variation.

By the way, if you have questions, you can open a new issue.

[2021-11-23 20:27] SR4ven commented on #477
@User-debbie for random data you can use `s_random` or `RandomData`.

About "xxxx of many" test cases, that's because of the combinatorial fuzzing. It permutes over over all primitives so number of test cases rises really quick and is hard to calculate. It's more or less generating endless amounts of test cases.
If you don't want this feature, you can disable it by `setting max_depth=1` in [Sessio

[2021-11-23 21:36] SR4ven commented on #557
Can you tell us where exactly the `SystemExit` exception is being caught?
I tried a `raise SystemExit` in `_main_fuzz_loop` but that exited the program just fine.
https://github.com/jtpereyda/boofuzz/blob/8384d46daef31622a4c51c96c970944fd3ce01c5/boofuzz/sessions.py#L1353

We catch `Exception` in some places, which I have to admit is not pretty, but doesn't catch `BaseException` which `SystemExit`

[2021-11-23 22:41] SR4ven commented on #549
I get your point. Do you have a practical example where such behavior would be beneficial?

So far I've seen the previous messages as no more but preparations for the current node to be fuzzed. And I think that was the idea behind it when the feature was implemented.

I'd be fine if someone was to implement the changes you suggested. However, I think a feature toggle (as if we didn't already have

[2021-11-23 22:41] #542 closed

[2021-11-23 22:56] SR4ven commented on #535
Sorry for the super late reponse @tr4v3ler

I don't think this is currently possible with multiple requests.
You could try decrementing one or multiple of the index variables, but that wouldn't stop boofuzz from sending request B. If it works at all, it could repeat the whole test case. But then again we might run into troubles with test case ID duplication in the database. So it's probably not go

[2021-11-24 01:36] User-debbie commented on #477
Thanks @cq674350529 @SR4ven for your help! The `variable` I am fuzzing currently is `string`, and I'll try `setting max_depth=1` in order to control the test cases it generates.

[2021-11-24 03:13] User-debbie opened #561 "[Question] Is it possible to get a fuzzed-data database based on the default value?"
Is it possible to get a **database of fuzzed-data generated** from boofuzz?

For example I have an web API to fuzz, and I only **need to fuzz JSON body** since the body is submmited by the users, and I only need to fuzz the filed called `AnswerContent`.

Here **I have a complete procedure of the API**, including login,choose form and etc. which just need me to pass in 'AnswerContent' as variable.

[2021-11-24 03:29] cq674350529 commented on #561
If you just want to get all the test cases generated by `boofuzz`, not use the `boofuzz` framework itself, you can copy and re-use the code from `s_string()` to achieve this.

By the way, maybe you can use [radamsa](https://gitlab.com/akihe/radamsa) to generate mutated data purely, which is a test case generator for robustness testing.

[2021-11-24 06:29] User-debbie commented on #561
@cq674350529 Thanks! Using the s_string() code seems very efficient!
And about yesterday's question about REAL RANDOM I mentioned in [#477](https://github.com/jtpereyda/boofuzz/issues/477)
I just felt confused because generated test case are all like `%01%02%03@%04%0a%0d%0aADSF` or `&reboot`, which is not relevant to the `default value` I gave. Now I know after reading the definition of primitive

[2021-11-24 06:48] User-debbie commented on #561
Well, I tried to delete things in `long_string_seeds` and `_fuzz_library`, leaving `change of fuzz library`  alone in the  `_fuzz_library`.

value `boofuzz` is the default value of the fuzzed field

As a result, I get fuzzed data like `DD\\x00DDDDD`,`boofuzzboofuzzboofuzzboofuzzboofuzzboofuzzboofuzzb`, 23 in total, not exactly what I want.

I thought I could get something like `change of fuzz libr

[2021-11-24 06:59] cq674350529 commented on #561
@User-debbie Some of test cases are related to the `default value`, some are related to the `_fuzz_library` and length variation. The mutate strategy of `s_string()` is able to trigger bugs such as `buffer overflow`, `command injection` in common cases. As to the `buffer overflow`, I believe there is no difference between `change of fuzz library change of fuzz library change of fuzz library` and `

[2021-11-24 07:03] User-debbie commented on #561
@cq674350529 Thanks! Good idea,maybe I can use `radamsa` to generate value and add them to `_fuzz_library`.?

[2021-11-25 22:39] SR4ven commented on #539
Sorry for the long delayed reply @tr4v3ler.

At first I thought this was a bug too. But then I remembered that we refactored the callback structure and implemented the CallbackMonitor.

The return values of the callbacks are discarded on purpose as documented here:
https://github.com/jtpereyda/boofuzz/blob/70e5718e15c7464ad7aea9e461d6dd55bc09ddba/boofuzz/monitors/callback_monitor.py#L50-L62

Inste

[2021-11-25 23:03] SR4ven commented on #550
Thanks for reporting this inconsistency @678098.

I tend towards your first solution. Inheriting form `FuzzableBlock` seems to be the correct way as far as I can tell.

I'll open a PR.

[2021-11-26 01:48] mistressofjellyfish commented on #539
Yes, that is the way CallbackMonitor works. It's post_send callback always returns true (i.e. no failure detected), it just logs exceptions. I don't remember exactly why I implemented it this way (sorry... it's been some time), but since I even documented that there is a real chance there was a reason. I can't find any technical one, so my best guess is that it is this way now because it has been

[2021-12-02 11:38] mistressofjellyfish commented on #532
This looks to me like a problem with the process monitor (see the "Bind failed" message). Did you figure it out eventually or is it still a problem?

The process monitor RPC is a bit janky and in need of a rewrite. To me, it seems like communication between boofuzz and the process monitor is lost, which is wrongly labled as a test case failure.

[2021-12-02 20:06] Akim10150 commented on #532
I don't think I ever figured it out. I no longer have the test environment
from before, but will try again once I set it up. Thanks for the help!
Boofuzz is awesome! I can't wait to learn to use it properly 🙂

On Thu, Dec 2, 2021, 5:39 AM Katharina Bogad ***@***.***>
wrote:

[2021-12-03 20:03] jtpereyda commented on #561
@User-debbie

There is also [FileConnection](https://github.com/jtpereyda/boofuzz/blob/master/boofuzz/connections/file_connection.py) which will write each fuzz case to a file within a directory. That's a simple way to get a dump of all the mutation outputs. However if using the string primitive code works, that's solid too.

To get what you're going for, I would pass in "change of fuzz library" a

[2021-12-04 22:03] SR4ven commented on #535
I think with a retry mechanism as suggested in #201 this problem would be solved.
If not feel free to reopen @tr4v3ler.

[2021-12-04 22:03] #535 closed

[2021-12-04 22:10] SR4ven commented on #533
Thanks for sharing your solution @entroy0421!

[2021-12-04 23:49] SR4ven opened #584 "Remove Python 2 compatibility code"
We still have a lot of useless Python 2 compatibility code (six or future imports).
Removing it would make the code simpler and more readable. Plus we might be able to get rid of the six pip dependency.

[2021-12-04 23:55] SR4ven opened #585 "Add type hints and checks for public user API"
Type hints and checks would make it easier to use boofuzz correctly as #552 shows.

With type hints an IDE could warn the user about wrongly using the API and type checks for function arguments inside constructors could throw an obvious error message.

[2021-12-05 00:14] jtpereyda commented on #552
Thanks @Tresvian for the report and @SR4ven for the type check idea.

In this case, we could also make the code accept an integer. One tiny complication is that there would have to be an implied endianness, and then we'd probably want an argument to choose endianness too. 🤷‍♂️ Not a big priority; just a thought if someone has an appetite to do it.

[2021-12-09 23:04] SR4ven commented on #502
The session argument `db_filename` was implemented in #588.

A command line argument like `-o` still has to be added to boofuzz/boofuzz/cli.py.

[2021-12-10 22:06] #550 closed

[2021-12-10 22:17] SR4ven commented on #529
I could reproduce the issue now. The root of the long wait time seems to be the combinatorial test case generation which seems to be generating huge amounts of duplicated which are recognizes as such and are skipped.

https://github.com/jtpereyda/boofuzz/blob/e1f0ebf55794749df775e554d7ddd67c7d1a663b/boofuzz/sessions.py#L1470-L1471
When debugging we jump between those two lines.
Any idea how to fix

[2021-12-12 06:48] cq674350529 opened #590 "arguments discrepance between s_string() and String()"
It's possible to extend the fuzz libary via option `fuzz_values`. However, there is an argument discrepance bwtween `String()` and `s_string()`.

It's ok when using `String()`.

[code]

However, these is no option `fuzz_values` when using `s_string()`, according to its definition:

https://github.com/jtpereyda/boofuzz/blob/e371ce178705f1ab90e1c824397ec36e90e083a7/boofuzz/__init__.py#L737

Since `s

[2021-12-12 20:49] SR4ven commented on #590
Good point @cq674350529.
The reason for this discrepancy in the args of the old and new format is that the static format s_* primitives don't take kwargs.
`fuzz_values` comes from `Fuzzable` which all primitives inherit from so it's not just a thing for `String()`.

I'd say the new format is definitely preferable and it would make the API and code more clean if we'd remove the old static format. I

[2021-12-13 02:08] cq674350529 commented on #590
Yes, that's the point. And as you mentioned, adding `*args` and `**kwargs` can resolve this. I'm just curious about this behaviour, and there might be some reasons behind it. Thanks for your detailed explanation. @SR4ven

One more thing, if using the former, one **must** specify name to each primitive manually, even if the name is empty or useless. Is it possible to change it into the `Spike-style

[2021-12-13 19:44] SR4ven commented on #590
There's no need to set a name with the new format.
You can do something like this, which will generate the default name `String1`
[code]

[2021-12-14 01:34] cq674350529 commented on #590
Yeah, actually I prefer the following:
[code]

When defining many primitives, less means faster and convenience, just my original opinion :)

[2021-12-14 19:58] SR4ven commented on #590
I think at some point we agreed to place the name argument first because every primitive and block has a name but not everyone has a default value. Not exactly sure though.
However, now it's too late to change the order. It would be a breaking change which we're trying to avoid.

[2021-12-15 01:38] cq674350529 commented on #590
Indeed a breaking change. Neverthelsess, it doesn't matter, maybe just my personal favor.

Thanks!

[2021-12-15 01:38] #590 closed

[2021-12-28 20:24] #552 closed

[2022-01-04 11:18] kfr-ma opened #591 "TypeError: boofuzz.fuzzable.Fuzzable.__init__() got multiple values for keyword argument 'fuzzable'"
### Report

Hi everybody ;

When i try to run my boo fuzz program , i get this error :

TypeError: boofuzz.fuzzable.Fuzzable.__init__() got multiple values for keyword argument 'fuzzable'

I am using Python 3.9.9 .

Below my test program :

#!/usr/bin/env python

from boofuzz import *

def main():
    session = Session(
        target=Target(
            connection=SocketConnection("192.168.98.147

[2022-01-08 15:15] SR4ven commented on #591
Thanks for your report @kfr-ma!

I've uploaded a potential fix in #592, could you test if these changes fix your problem please?

[2022-01-11 02:48] henryreed opened #593 "Procmon "freezes" multithreaded software"
### Report

Hi folks,

I am attempting to fuzz NASA's [Core Flight System (cFS)](https://github.com/nasa/cfs) using Boofuzz and its Process Monitor for unix. Unfortunately, when Procmon hooks into cFS it seems to also break its UDP input. This can be seen by capturing packets on the loopback interface, where the kernel sends ICMP packets back indicating the port is closed. Additionally, while norm

[2022-01-30 19:58] #591 closed

[2022-02-21 08:54] vincentwh2018 opened #601 "Logs to a txt or csv file missed some line for the last Test case"
### Report

Hi Team,

I have a boofuzz script as below, log 3 type files: txt, csv and db.
def main():
    fuzz_loggers = []
    txt_log = open("/srv/boofuzz/http-fuzz-results.txt", "w")
    fuzz_loggers.append(FuzzLoggerText(file_handle=txt_log))
    csv_log = open("/srv/boofuzz/http-fuzz-results.csv", "w")
    fuzz_loggers.append(FuzzLoggerCsv(file_handle=csv_log))

    session = Session(

[2022-03-02 12:42] mehdighninoudev opened #606 "Problem with web interface (port: 26000)"
### Report

Hi I have launched boofuzz to test my vm but when I want to connect to web interface http://127.0.0.1:26000 I got 500 Internal server error
I am using boofuzz 0.41 from pip install boofuzz (python3.6)

Can you help me to resolve the issue please ?

### Expected behavior

_No response_

### Actual behavior

_No response_

### Steps to reproduce the problem

1.
2.
3.

### boofuzz script

[2022-03-02 15:25] jtpereyda commented on #606
Hi @mehdighninoudev . You might try checking out the console for debug output -- I expect you should be able to find some more error output.

[2022-03-04 22:03] SR4ven commented on #584
Done in #597 #603 #605

[2022-03-04 22:03] #584 closed

[2022-03-06 22:18] hycrypt opened #607 "Mirror primitive always returns the default value of the target primitive"
### Report

Hi,
it seems like the mirror primitive does not mirror the current mutation of the target primitive.
Instead the mirror primitive always returns the default value of the target primitive.
I have tried it with a clean virtual environment and copied the example from the test_primitives.py in the unit_tests folder.
When using the example with a Session object the problem occurs.
Just exec

[2022-03-07 03:47] cq674350529 commented on #607
@hycrypt It seems that the `s_mirror()` is broken during previous refactor. https://github.com/jtpereyda/boofuzz/pull/608 should solve this.

[2022-03-07 10:54] hycrypt commented on #607
Yes, #608 fixes the problem. Thank you very much for the super fast response and fix. :)

[2022-03-07 16:19] #607 closed

[2022-03-24 06:26] donothingme opened #613 "How to use s_from_file()?It will cause some errors"
### Discussed in https://github.com/jtpereyda/boofuzz/discussions/612

<div type='discussions-op-text'>

<sup>Originally posted by **donothingme** March 24, 2022</sup>
When I call s_from_file() more than once in one block, it will cause a error. However, if i only call s_from_file() once, it will have no errors.
So I want to know how to use s_from_file()? Thank you!

I have a protocal definition l

[2022-04-01 14:44] jtpereyda commented on #613
Hi @donothingme ! Thanks for opening an issue. It seems like you may have found a bug in `s_from_file`. It's interesting that you say it only happens when using it twice. Here is one idea -- what if you try changing the filename of the second `s_from_file`, so that they are not pointing at the same exact file?

It may take some proper debugging to trace the root cause though.

[2022-04-01 22:48] SR4ven commented on #613
The problem here was the type of the `default_value` which is string, but `FromFile` doesn't provide an `encode` method.

I've opened a PR that changes the type of the `default_value` to bytes. Would be nice if you could verify that it solves your problem @donothingme.

About this happening with more than one FromFile, that might be because the default_value will not be used if the primitive is be

[2022-04-04 14:16] jtpereyda commented on #601
Thanks for the bug report @vincentwh2018 ! I bet there's an inconsistency somewhere in one of the log classes.

[2022-04-05 14:33] zhouqianyi opened #617 "How can I run boofuzz with 0.0.0.0 host IP"
When I run boofuzz, the UI page can be accessed through  http://localhost:26000  or  http://127.0.0.1:26000,but not  http://local ip:26000. I think the IP monitored by port 26000 is 127.0.0.1 instead of 0.0.0.0, How can I run with 0.0.0.0 host IP.

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/46179872/161783252-9ab4314b-1c56-4480-9983-884f11f24b7d.png">

[2022-04-05 19:27] SR4ven commented on #617
Since #611 it is possible to chose any listening address for the webinterface.
This feature isn't in a released version yet, but you can install boofuzz from source. https://boofuzz.readthedocs.io/en/stable/user/install.html#from-source

[2022-04-05 19:55] #613 closed

[2022-04-06 20:19] SR4ven commented on #617
Answered in #616

[2022-04-06 20:19] #617 closed

[2022-04-07 11:33] Captain-Kludge commented on #606
I just downloaded the tool and think it's really cool! I am able to fuzz via command line, but see the same error in the browser.

(This occurred on both my Windows 10 machine and Kali Linux machine as well)

Here is the console errors I am seeing:
![fuzz](https://user-images.githubusercontent.com/20678500/162189658-09c046b1-1167-4d06-b815-5782ae7c9ee6.jpg)

[2022-04-08 02:36] jtpereyda commented on #606
Is this error specific to the `boo open` command for you?

[2022-04-08 08:58] Captain-Kludge commented on #606
'boo fuzz' will also generate the first error about 'curses', but i'm probably not using that command correctly since it says i'm missing a command

[2022-04-08 14:33] jtpereyda commented on #606
Yes that one is just a warning. Sometimes `boo open` can fail if you open a file created with a different version of boofuzz -- is that a possible issue here?

[2022-04-11 09:28] Captain-Kludge commented on #606
no this db file was created by this same version just 5 minutes prior to the error :(

[2022-04-11 16:25] jtpereyda commented on #606
Would you be able to share a script and/or steps to reproduce the problem?

[2022-04-12 08:49] Captain-Kludge commented on #606
sure! though now I'm having problems recreating the problem, despite not touching this for a few days, so let me check back in a bit here :)

[2022-04-14 07:13] Captain-Kludge commented on #606
Without changing anything, I'm now having trouble recreating the issue :)

will keep updated once I have more info!

[2022-05-16 14:11] kamakazikamikaze opened #624 "`Session.fuzz()` options to minimize redundant testcases"
### Proposal

Continuing from #622, I believe it would be beneficial to add additional parameters to `Session.fuzz()` for fine-tuning the generation of testcases. The current method of recursive generation may cause BooFuzz to revisit already-sent payloads.

Therefore I would suggest/request the following:

1. An optional `min_depth` parameter that specifies the minimum combinatorial count of `Fuz

[2022-05-27 21:05] SR4ven commented on #624
Hey @kamakazikamikaze! Sorry for the long delay, things are a bit busy over here at the moment.

I really like you proposal, it would be a great improvement to boofuzz! I'd be happy to review the PR!

Your time measurements are really interesting as well. I always thought some kind of deduplication logic would impose a larger time penalty than the benefit from the skipped test cases. But I guess t

[2022-06-02 22:48] kamakazikamikaze commented on #624
Understood. Since this is something I've developed while at work I've gotta go through some internal review processes for approval to release. In the meantime I'll expand the `Session.rst` documentation so that it goes into detail on "depth", understanding when (not) to specify `min_depth`, and copy-paste examples to demonstrate some of their benefits.

[2022-07-27 12:12] huornlmj opened #635 "No boo utility"
### Report

Documentation says I can run
[code]
I install boofuzz in a virtual environment using pip3 install boofuzz.  When I try to run boo open <a-previous-sqlite-boofuzz-run.db> I get this:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### Steps to reproduce the problem

1.
2.
3.

### boofuzz script

_No response_

### boofuzz version

0.4.1

### Python vers

[2022-07-27 12:17] huornlmj commented on #635
I found it.  It's in my virtual env dir/boofuzz/bin/, not part of my $PATH so I have to either add it manually or invoke it by full file path.

[2022-07-27 12:17] #635 closed

[2022-08-01 19:48] SR4ven commented on #635
Thanks for sharing your solution @huornlmj!

[2022-08-04 19:42] mistressofjellyfish opened #637 "boofuzz/sessions.py is too long and complicated, let's fix that."
### Proposal

I've said it a couple times already, and every time I have a look at that file I'm instantly lost. Thus, I'll propose to split this monstrosity in smaller chunks.

Generally, there are three things I want to address here:

### One class per file
sessions.py is well over 1500 LoC. This warrants splitting the file into a subpackage; Import paths should not change. I'd consider this a l

[2022-08-04 19:59] mistressofjellyfish commented on #637
I'll also understand that this will probably create some merge conflicts with #624. At the moment though my goal is to move code, not to edit it, so these should be resolvable fairly easily.

[2022-08-04 20:25] mistressofjellyfish commented on #637
On further consideration, it seems to me that many options will simply be unnecessary in the first place once the pipeline is dynamic and pluggable. Take for example this excerpt:

https://github.com/jtpereyda/boofuzz/blob/2e1d91a068cc705e0ca9ba78bc65c62352de1038/boofuzz/sessions.py#L1396-L1402

These options can simply be set when creating the step instance for the pipeline, and thus don't need t

[2022-08-08 14:47] kamakazikamikaze commented on #637
Right now there's no foreseeable date on when I'll get approval to release my contributions to the public. Regardless, I agree that the merge conflict that may rise from this will be easy to resolve.

[2022-08-17 07:32] hackathi opened #640 "Session.fuzz_by_name is deprecated in favor of Session.fuzz(name=name)."
### Report

`Session.fuzz_by_name` unconditionally emits the following warning:

[code]

However, if you look at the source code of Session.fuzz(name="something"), you'll find this:
https://github.com/jtpereyda/boofuzz/blob/5ee41f878b785d16c8bd9bbea8dd4f4c37525e1b/boofuzz/sessions.py#L1280-L1291

So the "correct" way to call this will trigger the warning.

### Expected behavior

No warning if the

[2022-08-17 23:54] jtpereyda commented on #640
Thanks for the bug! The proposed solution makes sense to me.

[2022-09-02 06:45] WhereIsOops opened #642 ""Aligned" definition function's implementation is incorrect,modify the encode method"
### Proposal

`def encode(self, value, mutation_context):
       child_data = self.get_child_data(mutation_context=mutation_context)`
"Aligned" can't get child data using  'get_child_data' because of it has no stack menber.I suggest taking a approach like "Size" function to get the data associated with the request parameter.

### Use-Case

My modified code is as follows:
`
    def encode(self, val

[2022-09-02 09:30] WhereIsOops commented on #642
Let me add a little more,
`
    def encode(self, value, mutation_context):
        if self.request is not None and self.block_name is not None:
            target_block = self.request.resolve_name(self.context_path,self.block_name)
            child_data = target_block.render(mutation_context=mutation_context)
            remainder = len(child_data) % self._modulus
            if remainder != 0:

[2022-09-18 10:35] #539 closed

[2022-09-19 08:36] mistressofjellyfish commented on #642
@WhereIsOops could you re-format your Comments to use proper code tags? This would be the correct markdown syntax to use:

<pre>
[code]
<pre>

Thank you!

[2022-09-20 06:19] WhereIsOops commented on #642
[code]
The alignment primitive is not a request class object and does not have the children parameter during initialization. Therefore, its stack is empty. Therefore, the get_child_data method cannot be used.

[2022-10-17 18:13] hippo-pat-amus opened #644 "Replace deprecated PyDbg library with a Python 3-based debugger"
### Proposal

As the PyDbg-based DebuggerThreadPydbg procmon thread was orphaned last year when the project made the switch to full Python 3, the target-based process monitor component is limited to the DebuggerThreadSimple type unless running an older version of Python on the target machine.

I propose the project adopt the Vivisect framework's Vtrace library (https://github.com/vivisect/vivisect

[2022-10-20 14:22] #644 closed